.ql-snow .ql-toolbar {
  background-color: #9e9e9e;
  color: #fff;
}

.ql-snow .ql-toolbar button {
  color: #fff;
}

.ql-snow .ql-editor {
  font-size: medium;
}

.ql-snow .ql-editor.ql-blank::before {
  color: rgba(160, 174, 192, 0.5);
}

.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
